@CHARSET "UTF-8";

body {
	
}

.rollingImage {
	height: 32%;
	border-bottom: 2px;
	border-bottom-color: white;
	width: 100%;
	overflow: hidden;
}

.rollingImage img {
	position : relative;
	width: 125%;
	height: 125%;
}

.content {
	position: absolute;
	width: 100%;
	height: 68%;
}

.content a {
	position: relative;
	height: 25%;
	text-decoration: none;
	width: 25%;
	float: left;
	border: 0;
}